{% extends 'base.html' %}

{% block nav %}
    {% if user_object.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">个人信息<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/insurance/{{ list.id }}/edit">个人资料</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout/">登出</a></li>
                    </ul>
                </li>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            {# target 新页面打开#}
            <a class="btn btn-primary" href="/drogs_company/add">添加</a>
            <div style="float: right">
                <form method="get">
                    <div style="width: 300px" class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search for..."
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                医药公司列表
            </div>


            <!-- Table -->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>提供药品数量</th>
                    <th>提供药品质量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in list %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.drogsProvideNumber }}</td>
                        <td>{{ obj.drogsQuality }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/drogs_company/{{ obj.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/drogs_company/delete/?nid={{ obj.id }}">删除</a>
                            <a class="btn btn-default btn-xs" href="/drogs_company/drogs_provide/{{ obj.id }}/user/">查看</a>
                            <a class="btn btn-default btn-xs" href="/drogs_company/drogs_provide/{{ obj.id }}/evaluate/">评估</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="...">
            <ul class="pagination" style="float: left">
                {{ page_string }}
            </ul>

        </nav>
    </div>
{% endblock %}